@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;

}

.slide {
  width: 400px;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(255, 105, 180, 0.4);
  transition: transform 0.4s ease;
  
}

.slide:hover {
  transform: scale(1.03);
}

.nav {
  background: #ff4d6d;
  border: none;
  color: white;
  font-size: 28px;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
}

.nav:hover {
  background: #ff2e55;
}

